build
dist
tmp

# Ignore Node & Bower & JSPM
###################
node_modules
bower_components
jspm_packages

# Ignore Test reporters
###################
test
coverage
report
doc

# Ignore typings
###################
.typingsrc
typings

# Ignore transpiled code
###################
src/**/*.js
src/**/*.map
*.metadata.json

# Ignore vscode symbols
###################
.vscode/symbols.json

# Other
#######
/publish.txt
/README-example.md