<div class="login-window">
  <div class="login jumbotron center-block">
    <h2>{{ 'ui.login.title' | translate }}</h2>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">{{ 'ui.login.label.user' | translate }}</label>
        <input type="text" class="form-control" id="username" placeholder="{{ 'ui.login.label.user' | translate }}" required [(ngModel)]="credentials.username"
          name="username" #username="ngModel">
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
          {{ 'ui.login.required.user' | translate }}
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{ 'ui.login.label.pwd' | translate }}</label>
        <input type="password" class="form-control" id="password" placeholder="{{ 'ui.login.label.pwd' | translate }}" required [(ngModel)]="credentials.password"
          name="password" #password="ngModel">
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          {{ 'ui.login.required.password' | translate }}
        </div>
      </div>
      <div class="form-group" *ngIf="domainVisible">
        <label for="domain">{{ 'ui.login.label.domain' | translate }}</label>
        <input type="text" class="form-control" id="domain" placeholder="{{ 'ui.login.label.domain' | translate }}" [(ngModel)]="credentials.domain" name="domain" #domain="ngModel">
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid">{{ 'ui.login.label.submit' | translate }}</button>
    </form>
  </div>
</div>